{% load static %}
{% load socialaccount %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <title>Document</title>
    <style>
        * , body{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>
<body style="background-color: #4d4f55;">
    
    <section style="position:relative;background-color: white; display: flex; flex-direction: column; width: 300px;  margin:100px auto; border-radius: 7px; box-shadow: 0px 7px 74px 4px black;
    overflow: hidden;">
        <form method="post" action="">
            {% csrf_token %}
            <div style="background-color: #df0a14; color: white; width: fit-content; padding: 10px 35px; margin: 10px auto; border-radius: 3px;">
                <h1>THE WEEK</h1>
            </div>
    
            <div style="display: flex; justify-content: space-evenly; padding: 10px 10px 0 10px; color: #57585b;">
                <div>
                    <p>Log In</p>
                </div>
                <a href="{% url 'signup' %}" style="text-decoration: none;  color: #57585b;">
                <div>
                    <p>Sign Up</p>
                </div>
            </a>
            </div>
            <hr style=" border: 1px solid rgb(115, 114, 114); width:50%;position:absolute; top: 27%;" />
            <hr style="margin: 5px 0;"/>
            <div style="padding: 20px; display: flex; flex-direction: column; gap: 15px;">
                <div style="display: flex; border: 1px solid gray; border-radius: 3px;">
                    <div style="padding: 10px; background-color: #ece6e6;;">
                        <i class="fi fi-br-envelope" style="color: #979797;"></i>
                    </div>
                    <div>
                        <input type="text" placeholder="yours@example.com" style="border: 0;
                        outline: 0;
                        text-align: center;
                        padding: 10px;
                        font-size: 14px;" name="email" id="email"/>
                    </div>
                </div>
                
                <div style="display: flex; border: 1px solid gray; border-radius: 3px;">
                    <div style="padding: 10px; background-color: #ece6e6;;">
                        <i class="fi fi-rs-lock" style="color: #979797;"></i>
                    </div>
                    <div>
                        <input  type="password" placeholder="gshsjii#$4w" style="border: 0;
                        outline: 0;
                        text-align: center;
                        padding: 10px;
                        font-size: 14px;" name="password" id="password"/>
                    </div>
                </div>
            <div style="text-align: center;">
                <p>Don't Remember your password</p>
            </div>
             
            <div style="text-align: center;">
                <a href="{% provider_login_url 'google' %}"> <p>sign in with gooogle</p></a>
                
            </div>
            </div>

            <div style="background-color: #e70c26; padding: 20px 40px;  font-size: 30px; text-align: center; ">
                <button type="submit" style="background-color: #e70c26; color: white; border: 0; outline: 0; font-size: 16px;" >LOG IN <i class="fi fi-rr-angle-right"></i></button>
            </div>
        </form>
   
    </section>
</body>
</html>